<html>
  <head>
    <title>PokeAPI Home</title>
  </head>
  <body>
    <script>
      function toggleDisplay(){
          var y = document.getElementById("button");
          y.style.display = "none";
      }
    </script>
    <h1 align="center">Welcome to Team 16's PokeApi webpage :)</h1>
  </br>
  <div align="center">
    <img style="width:400px;height:150px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png"/>
    <br/>
    <p style="font-size:24px">Create your own Pokemon Team to conquer the Pokemon League!</p>
    <p style="font-size:24px">Press this button to know your random 5 Pokemon that will go with you in your trip to becoming the best Pokemon Trainer!</p>
    <button>Get my Pokemon Team!</button>
  </div>
</br>
<div style="display:flex;flex-direction:row;align-items:space-between;width:100%;" align="center">
  <% @pokemons.each do |pokemon| %>
  <div>
    <p style="text-transform:capitalize;font-weight:bold;"><%= pokemon.name%> <%= pokemon.pokedex_number %></p>
    <p id="sprite"><img src=<%= pokemon.sprites%>></p>
    <p id="types"><%= pokemon.types%></p>
  </div>
  <% end %>
</div>
</body>
</html>
