<html>
  <head>
    <title>PokeAPI Home</title>
  </head>
  <body>
    <script>
      function toggleDisplay(){
          var y = document.getElementById("button");
          y.style.display = "none";
      }
    </script>
    <h1 align="center">Welcome to Team 16's PokeApi webpage :)</h1>
  </br>
  <div align="center">
    <img style="width:400px;height:150px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/1280px-International_Pok%C3%A9mon_logo.svg.png"/>
    <br/>
    <p style="font-size:24px">Create your own Pokemon Team to conquer the Pokemon League!</p>
    <p style="font-size:24px">Press this button to know your random 5 Pokemon that will go with you in your trip to becoming the best Pokemon Trainer!</p>
    <%= button_to 'Get My Pokemon!' %>
  </div>
</br>
<div align="center">
  <table style="table-layout:fixed;width:1500px;border: 1px solid black;">
    <tr>
      <th>Pokemon Name</th>
      <th>Pokemon Name</th>
      <th>Pokemon Name</th>
      <th>Pokemon Name</th>
      <th>Pokemon Name</th>
    </tr>
    <tr>
      <td>Sprite</td>
      <td>Sprite</td>
      <td>Sprite</td>
      <td>Sprite</td>
      <td>Sprite</td>
    </tr>
    <tr>
      <td>Types</td>
      <td>Types</td>
      <td>Types</td>
      <td>Types</td>
      <td>Types</td>
    </tr>
  </table>
</div>
</body>
</html>
